$bg-body: lightgoldenrodyellow;

$bg-secondary: black;



$bg-top-bar: #ffffff;
$bg-top-bar: lightgoldenrodyellow;

$color-primary: black;
$color-secondary: red;


// "let's go" btn


$lg-btn-col: black;
$lg-btn-col-hvr: black;

$lg-btn-bg: lightgoldenrodyellow;
$lg-btn-bg-hvr: #efcea5;
