/**
*
* Last Update: 27/08/2026 - 14:18
**/
/* $bg---body: lightgoldenrodyellow; */
/* $bg---body: #0f172a; */
/* $bg---header: #0f172a; */
/* $bg---footer: #1a3352; */
/* $bg---secondary: black; */
html {
  scroll-behavior: smooth;
}

body {
  background: #1a3352;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  overflow-y: scroll;
  position: relative;
  display: block;
  height: auto;
  font-family: "Roboto";
  font-family: "Poppins";
  font-family: "Poppins, arial, sans-serif";
  font-family: "Poppins", arial, sans-serif;
  font-family: "Poppins", arial, sans-serif;
}

nav.mainnav-container {
  position: sticky;
  top: 0;
  text-align: center;
  background: #0f172a;
  margin: 0;
  height: 40px;
  border-bottom: solid 1px white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  z-index: 100;
}
nav.mainnav-container ul.main {
  margin: 0;
  position: relative;
  top: 0;
  width: 100%;
  padding: 0;
}
nav.mainnav-container ul.main li {
  display: inline-block;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0 6px;
  font-size: 14px;
}
@media (max-width: 480px) {
  nav.mainnav-container ul.main li {
    font-size: 12px;
    margin: 0 0px;
  }
}
nav.mainnav-container ul.main li a {
  color: #ffffff;
  transition: color 0.3s;
}
nav.mainnav-container ul.main li a:hover {
  color: #89ddff;
}
nav.mainnav-container ul.main li a.active-link {
  color: #89ddff;
}

header {
  background: #1a3352;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  /* font-size: 16px; */
  letter-spacing: 1px;
}
header p, header h1 {
  color: white;
  width: auto;
  height: auto;
  display: block;
  padding-top: 15px;
  margin: 0;
}
header h1 {
  font-size: 34px;
}
@media (max-width: 480px) {
  header h1 {
    font-size: 12px;
  }
}
header h2 {
  color: #d2d982;
  font-size: 30px;
  margin: 0;
}
@media (max-width: 480px) {
  header h2 {
    margin: 0 auto;
    font-size: 12px;
  }
}
header img {
  display: inline-block;
  width: 160px;
  margin: 10px 0;
}
@media (max-width: 480px) {
  header img {
    width: 100px;
  }
}

main#main-container .container {
  min-height: calc(100vh - 209px);
  width: 50%;
  position: relative;
  margin: 0 auto;
  color: white;
}
@media (max-width: 1028px) {
  main#main-container .container {
    width: 90%;
  }
}
main#main-container .container hr {
  color: #89ddff;
  width: 400px;
}
main#main-container .container h2.first-lead {
  color: #89ddff;
  text-align: center;
  font-size: 18pt;
  width: 400px;
  margin: 45px auto 25px auto;
}
@media (max-width: 680px) {
  main#main-container .container h2.first-lead {
    /* width: 95%; */
    width: 76%;
    font-size: 3.5vw;
  }
}
@media (max-width: 480px) {
  main#main-container .container h2.first-lead {
    font-size: 4vw;
    margin: 5px auto;
  }
}
main#main-container .container h1.lead,
main#main-container .container h2.lead {
  color: #89ddff;
  font-size: 15pt;
  /* width: 300px; */
  /* margin: 20px auto; */
  /* margin: 35px 0 0 0; */
  margin: 0 auto;
  padding-top: 57px;
}
@media (max-width: 680px) {
  main#main-container .container h1.lead,
  main#main-container .container h2.lead {
    /* width: 100%; */
    width: 62%;
    padding-top: 26px;
  }
}
@media (max-width: 480px) {
  main#main-container .container h1.lead,
  main#main-container .container h2.lead {
    padding-top: 0px;
  }
}
main#main-container .container #who {
  max-width: 340px;
}
@media (max-width: 680px) {
  main#main-container .container #who {
    width: auto;
  }
}
main#main-container .container #projects {
  width: 320px;
}
@media (max-width: 680px) {
  main#main-container .container #projects {
    width: auto;
  }
}
main#main-container .container #why {
  width: 453px;
}
@media (max-width: 680px) {
  main#main-container .container #why {
    width: auto;
  }
}
main#main-container .container #more {
  width: 300px;
}
@media (max-width: 680px) {
  main#main-container .container #more {
    width: auto;
  }
}
main#main-container .container h3 {
  text-align: center;
  color: #89ddff;
}
main#main-container .container h1 {
  font-family: "Kalam";
  text-align: center;
  border-bottom: solid red 3px;
  width: 300px;
  margin: 45px auto 25px auto;
}
@media (max-width: 680px) {
  main#main-container .container h1 {
    width: 100%;
  }
}
main#main-container .container h2 {
  /* @include font('Kalam'); */
  text-align: center;
  /* border-bottom: solid $bdr---col--primary 3px; */
  /* border-bottom: solid 1px #1b4e62; */
  border-bottom: solid 1px #89ddff;
}
main#main-container .container video {
  width: 100%;
  /* border: white 2px solid; */
  /* border: #ff7c7c 2px solid;  */
  /* border: solid white 2px; */
  border: solid 1px #1b4e62;
  border-radius: 8px;
  box-shadow: black 0 0 4px 1px;
  transition: border 0.3s;
}
main#main-container .container video:hover {
  /* border: solid 1px white; */
  border: solid 1px #89ddff;
}
main#main-container .container .clear-logo {
  /* width: 30px; */
  /* height: 30px; */
  /* background: $bg---secondary; */
  border: white 3px solid;
  border-radius: 50%;
  float: right;
  position: relative;
  right: 30px;
  bottom: 30px;
  transition: transform 1.2s;
  /* display: inline-block; */
}
main#main-container .container .clear-logo:hover {
  transform: scale(1.5) rotate(720deg);
  transition-duration: 0.7s;
}
@media (max-width: 680px) {
  main#main-container .container .clear-logo {
    display: none;
  }
}
main#main-container .container .div_projectcontainer {
  display: block;
  margin: 25px auto 0 auto;
  text-align: center;
  /* width: 750px; */
  width: 600px;
}
@media (max-width: 980px) {
  main#main-container .container .div_projectcontainer {
    width: 90%;
    /* width: 750px; */
  }
}
@media (max-width: 680px) {
  main#main-container .container .div_projectcontainer {
    width: 100%;
  }
}
main#main-container .container .div_projectcontainer a {
  text-decoration: none;
  margin: 2px;
}
main#main-container .container .div_projectcontainer a img {
  /* width: 250px; */
  width: 200px;
  border-radius: 8px;
  border: solid 2px white;
  opacity: 0.6;
  transition: opacity 0.6s;
}
main#main-container .container .div_projectcontainer a img:hover {
  opacity: 1;
}
@media (max-width: 680px) {
  main#main-container .container .div_projectcontainer a img {
    width: 38%;
  }
}
main#main-container .container #refresh_projects {
  /* color: red; */
  color: #89ddff;
  font-size: 9px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  /* display: 0 auto; */
  margin: 4px auto;
  width: 100%;
  transition: color 0.3s;
}
main#main-container .container #refresh_projects:hover {
  color: white;
}
main#main-container .container .more_projects {
  margin: 45pt 0 0 0;
  text-align: center;
}
main#main-container .container #goto_portfolio {
  border-radius: 7px;
}
main#main-container .container #core-business {
  margin-top: 30px;
  color: #89ddff;
}
@media (max-width: 480px) {
  main#main-container .container #core-business {
    font-size: 12px;
    margin-top: 6px;
  }
}
main#main-container .container #core-business li {
  line-height: 1.8;
}
main#main-container .container p {
  position: relative;
  display: block;
  margin: 20px auto;
  line-height: 1.9;
  /* color: wheat; */
  color: white;
}
@media (max-width: 480px) {
  main#main-container .container p {
    font-size: 12px;
  }
}
main#main-container .container p strong {
  color: #89ddff;
  font-weight: normal;
}
main#main-container .container p.center {
  text-align: center;
}
main#main-container .container a.lets-go {
  width: 150px;
  margin: 15px auto;
  /* border: solid #89ddff 1px; */
  border: solid #1b4e62 1px;
  border-radius: 10px;
  padding: 9px 0px;
  display: block;
  text-align: center;
  font-weight: bold;
  /* color: $lg---btn--col; */
  /* background: $lg---btn--bg; */
  background: none;
  text-decoration: none;
  transition: border 0.3s, color 0.3s, background 0.3s;
  color: white;
  font-size: 12px;
}
main#main-container .container a.lets-go:hover {
  background: #264b79;
  /* background: $lg---btn--bg-hvr; */
  /* color: $lg---btn--col-hvr; */
  color: #89ddff;
  /* border: solid white 3px; */
  /* border: solid $bdr---col--secondary 3px; */
  /* border: solid red 3px; */
  border: solid #89ddff 1px;
}
@media (max-width: 580px) {
  main#main-container .container a.lets-go {
    width: 150px;
    margin: 14px auto;
  }
}

footer {
  padding-top: 15px;
  background: #0f172a;
  color: white;
  height: 30px;
  font-size: 12px;
  text-align: center;
  border-top: solid white 1px;
}
footer a {
  /* color: $col---tertiary; */
  color: #89ddff;
  transition: color 0.3s;
}
footer a:hover {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=style.css.map */
