%btn_main {    
    
    margin: 30px;
    border: solid #252068 3px;
    border-radius: 10px;
    padding: 13px 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    color: black;
    background: lightgoldenrodyellow;
    text-decoration: none;
}