%btn_main {    
    
    margin: 30px;
    color: $col---primary;
    background: $lg---btn--bg;
    border: solid $bdr---bdrcol--primary 3px;
    border-radius: 10px;
    padding: 13px 5px;
    display: block;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    
    
    &:hover {

        background: $lg---btn--bg-hvr;
        color: $lg---btn--col-hvr;
        /* border: solid white 3px; */
        border: solid $bdr---col--secondary 3px;
        transition: color .3s, background .3s;
    }

    @media (min-width: 680px) {

        width: 400px;
        margin: 20px auto;
    }
}