
footer {
    
    //margin-top: 10px;
    padding-top: 15px;
    background: $bg---footer;
    color: $col---tertiary;
    height: 30px;
    //height: calc(100% - 143px);{
    text-align: center;

    a {
        
        color: $col---tertiary;

        &:hover {

            text-decoration: none;
        }

    }
   
}
