
footer {
    
    padding-top: 15px;
    background: $bg---footer;
    color: $col---tertiary;
    height: 30px;
    font-size: 12px;
    text-align: center;
    border-top: solid $bdr---col--secondary 1px;

    a {
        
        color: $col---secondary;

        transition: color .3s;

        &:hover {

            text-decoration: none;
            color: $col---secondary;
        }

    }
   
}
