main#main-container {
   
    .container { 

        min-height: calc(100vh - 209px);
        width: 50%;
        position: relative;
        margin: 0 auto;
        color: white;

        @media (max-width: 1028px) {

            width: 90%;
        }
        
        hr {

            color: $col---secondary;
            width: 400px;
        }

        h2.first-lead {
            
            color: $col---secondary;
            text-align: center;
            font-size: 18pt;
            width: 400px;
            margin: 45px auto 25px auto;
            
            @media (max-width: $breakpoint-md) {
                
                width: 76%;
                font-size: 3.5vw;
            }

            @media (max-width: $breakpoint-xs) {

                font-size: 4vw;
                margin: 5px auto;

            }
        }
        
        h1.lead,
        h2.lead {

            color: $col---secondary;
            font-size: 15pt;
            margin: 0 auto;
            padding-top: 57px;
            
            @media (max-width: $breakpoint-md) {

                width: 62%;
                padding-top: 26px;
            }

            @media (max-width: $breakpoint-xs) {

                padding-top: 0px;
            }
            
        }

        #who {

            max-width: 340px;

            @media (max-width: $breakpoint-md) {

                width: auto;
            }
        }

        #projects {

            width: 320px;

            @media (max-width: $breakpoint-md) {

                width: auto;
            }
        }

        #why {

            width: 453px;

            @media (max-width: $breakpoint-md) {

                width: auto;
            }
        }

        #more {

            width: 300px;

            @media (max-width: $breakpoint-md) {

                width: auto;
            }
        }

        h3 {

            text-align: center;
            color: $col---secondary;
        }


        h1 {

            @include font('Kalam');

            text-align: center;
            border-bottom: solid $bdr---col--primary 3px;
            width: 300px;
            margin: 45px auto 25px auto;

            @media (max-width: 680px) {
                
                width: 100%;
            }
            
        }

        h2 {

            text-align: center;
            border-bottom: solid 1px $bdr---col--primary;
        }
        
        video {

            width: 100%;            
            
            border: solid 1px #1b4e62;
            border-radius: 8px;
            box-shadow: black 0 0 4px 1px;

            transition: border .3s;

            &:hover {

                /* border: solid 1px white; */
                border: solid 1px #89ddff;
            }
        }

        .clear-logo {    
            
            border: white 3px solid;
            border-radius: 50%;
            float: right;
            position: relative;
            right: 30px;
            bottom: 30px;       
            transition: transform 1.2s;

            &:hover {
                
                transform: scale(1.5) rotate(720deg);
                transition-duration: .7s;
            }

            @media (max-width: 680px) {
                
                display: none;
            }
            
        }
        
        .div_projectcontainer {
            
            display: block;
            margin: 25px auto 0 auto;
            text-align: center;
            width: 600px;
            
            @media (max-width: 980px) {
                
                width: 90%;
            }
            
            @media (max-width: 680px) {
                
                width: 100%;
            }
            
            a {
                
                text-decoration: none;
                margin: 2px;
                
                
                img {
                    
                    width: 200px;
                    border-radius: 8px;
                    border: solid 2px $bdr---col--secondary;
                    opacity: 0.6;
                    transition: opacity .6s;
                    
                    &:hover {
                        
                        opacity: 1;
                    }
            
                    @media (max-width: 680px) {

                        width: 38%;
                    }
                }
            }
            
            
        }
        
        #refresh_projects {
                        
            color: $col---secondary;
            font-size: 9px;
            font-weight: bold;
            text-align: center;
            display: inline-block;
            margin: 4px auto;
            width: 100%;

            transition: color .3s;

            &:hover {

                color: white;
            }
        }
        
        .more_projects {
            
            margin: 45pt 0 0 0;
            text-align: center;
        }
        
        #goto_portfolio {   
           
            border-radius: 7px;
        }
        
        #core-business {
            
            margin-top: 30px;
            color: $col---secondary;

            @media (max-width: $breakpoint-xs) {

                font-size: 12px;
                margin-top: 6px;
            }
            
            li {
                
                line-height: 1.8;
            }
            
        }
        

        p {
            
            display: block;
            position: relative;
            margin: 20px auto;
            line-height: 1.9;
            color: $col---tertiary;

            @media (max-width: $breakpoint-xs) {

                font-size: 12px;
            }

            strong {

                color: $col---secondary;
                font-weight: normal;
            }

        }        

        p.center {
            
            text-align: center;
        }

        a.lets-go {
            
            width: 150px;
            margin: 15px auto;
            border: solid #1b4e62 1px;
            border-radius: 10px;
            padding: 9px 0px;
            display: block;
            text-align: center;
            font-weight: bold;
            background: none;
            text-decoration: none;
            color: $col---tertiary;
            font-size: 12px;
            
            transition: border .3s, color .3s, background .3s;

            &:hover {
                
                background: #264b79;
                color: $col---secondary;
                border: solid $bdr---col--primary 1px;
            }

            @media (max-width: $breakpoint-sm) {

                width: 150px;
                margin: 14px auto;
            }

        }
        
    }

}
